[submodule "HuWNLI"]
	path = HuWNLI
	url = https://github.com/nytud/HuWNLI.git
[submodule "HuSST"]
	path = HuSST
	url = https://github.com/nytud/HuSST.git
[submodule "HuCOLA"]
	path = HuCOLA
	url = https://github.com/nytud/HuCOLA.git
