[submodule "HuWNLI"]
	path = HuWNLI
	url = https://github.com/nytud/HuWNLI
[submodule "HuSST"]
	path = HuSST
	url = https://github.com/nytud/HuSST.git
[submodule "HuCOLA"]
	path = HuCOLA
	url = https://github.com/nytud/HuCOLA.git
[submodule "HuCoPA"]
	path = HuCoPA
	url = https://github.com/nytud/HuCoPA.git
[submodule "HuRTE"]
	path = HuRTE
	url = https://github.com/nytud/HuRTE.git
[submodule "HuCommitmentBank"]
	path = HuCommitmentBank
	url = https://github.com/nytud/HuCommitmentBank
